<div class ="border border-dark pb-5">
  <h5 class="border-bottom border-dark text-center p-2"><strong>ジャンル検索</strong></h5>
  <%= form_with model: genre, class: 'boards__searchForm' do %>
    <% genres.each do |genre| %>
    <div class="tag-box px-3">
        <%= link_to genre.name, items_path(name: genre.id), class:"text-dark" %>
      </div>
    <% end %>
      <div class="tag-box px-3">
        <%= link_to "全ての商品", items_path, class:"text-dark" %>
      </div>
  <% end %>
</div>